{{>ezenweb/header}}

<div class="loginPage">
    <h3> 로그인 페이지 </h3>


    <div class="loginbox">
        아이디 : <input  type="text" id="id"/>
    </div>
    <div class="loginbox">
        비밀번호 :<input type="text" id="pw"/>
    </div>
    <button class="loginbtn" type="button" onclick="login()">로그인</button>
    <a href="/member/signup">회원가입</a>
</div>

<script src="/js/member.js"></script>

{{>ezenweb/footer}}